In [69]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [70]:
# Load data
df = pd.read_csv('tested.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [72]:
df = df[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch','Survived']]

In [73]:
df.isna().sum()

Pclass       0
Age         86
Sex          0
SibSp        0
Parch        0
Survived     0
dtype: int64

In [74]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [75]:
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])

In [76]:
df_cols = ['Pclass', 'Age', 'Sex', 'SibSp', 'Parch']
scaler = StandardScaler()
df_standardized = pd.DataFrame(scaler.fit_transform(df[df_cols]), columns=df_cols)

In [77]:
# Select features and target
X = df_standardized[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch']] 
y = df['Survived']

In [78]:
X.isna().sum()

Pclass    0
Age       0
Sex       0
SibSp     0
Parch     0
dtype: int64

In [ ]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [81]:
print(X_train.shape, X_test.shape , y_train.shape , y_test.shape)

(334, 5) (84, 5) (334,) (84,)

In [82]:

# Build model
model = LogisticRegression()
model.fit(X_train, y_train)

# Make predictions
predictions = model.predict(X_test)

# Evaluate model accuracy
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: {}".format(accuracy))

Accuracy: 1.0